.card-content-desc {
  height: 450px;
  overflow: hidden auto;
  font-weight: 500;
}

.card-artikel p {
  text-align: justify;
}
.paragraph {
  text-indent: 2em;
}

.img-ir {
  margin: 0 auto;
}
footer {
  color: white;
}
