.card-content-desc {
  height: 450px;
  overflow: hidden auto;
  font-weight: 500;
}

.card-text-rest {
  text-align: justify;
}

.img-ir {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-bottom: 1em;
}
