* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}
.bungkus {
  position: relative;
  width: 100%;
  height: 110vh;
  padding: 0.5em 0;
  background-image: linear-gradient(-10deg, #ff2846 0%, #6944ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  position: relative;
  /* border: 1px solid wheat; */
  padding: 0;
  overflow: hidden;
}

.container .card-content {
  position: relative;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden auto;
}
.card-content .card-welcome {
  position: relative;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  margin: 0;
  background: rgba(241, 241, 241, 0.2);
}

.card-content .card-header {
  position: relative;
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 1em 0.8em;
}
.card-content .card-header .card-text {
  text-align: justify;
}

.sosmed .socmed1,
.socmed2 {
  display: inline-block;
  font-size: 1.3em;
  background-image: linear-gradient(-10deg, #ff2846 0%, #6944ff 100%);
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  transition: 0.8s linear;
  cursor: pointer;
  -webkit-transition: 0.8s linear;
  -moz-transition: 0.8s linear;
  -o-transition: 0.8s linear;
  -ms-transition: 0.8s linear;
}
.socmed1:hover,
.socmed2:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
.sosmed a {
  color: inherit;
  text-decoration: none;
}

.card-text {
  line-height: 1.5em;
}

@media screen and (max-width: 580px) {
  .bungkus {
    padding: 0.5em 1em;
  }
}

@media screen and (max-width: 440px) {
  .container .card-content {
    height: 500px;
    overflow: hidden auto;
  }
}

@media screen and (max-width: 700px) and (orientation: Landscape) {
  .bungkus {
    height: 200vh;
  }
}

/*  */
